#app {
	width: 100%;    
	text-align: center;
}

.talkbot-title {
	font-size: 5rem;
}

.talkbot-maincontainer {
	width: 600px;
	margin-top: 10em;
	text-align: center;
}

.talkbot-inputform {
	width: 435px;
	margin: 0 auto;
}

.talkbot-input  {
	height: 50px;
	font-size: 1.2rem;
}

.center-screen {
	display: inline-block;  
  	text-align: center;
}

.talkbot-result-container {
	background: #dfdfdf;
	display: block;	
	min-height: 200px;
	padding: 20px 40px;
	text-align: left;
}

.talkbot-result-list {
	font-size: 1.2rem;
}

.talkbot-result-list-item {	
}